$red : #D0021B;
$alert: $red;
$beta-three: #038238;
@mixin flex($align-items: center, $justify-content: space-between, $flex-direction: row) {
  display: flex;
  align-items: #{$align-items};
  justify-content: #{$justify-content};
  flex-direction: #{$flex-direction};
}

:local(.alert_box) {
  position:relative;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  top:30%;
  min-width:320px;
}
:local(.alert) {
  border-top:5px solid $alert;
  background:#fff;
  z-index: 300;
  font-size: .875em;
  padding:1em;
  box-shadow: -1px 2px 15px -4px rgba(0,0,0,0.42);
  left: 0;
  top:10%;
  position: absolute;
  width: auto;
  min-width: 48%;


  > div {
    @include flex;
  }

  @media(max-width:768px) {
    box-shadow: -1px 2px 90px -2px rgba(0,0,0,0.42);
  }
  label {
    font-weight:bold;
    color:$alert;

  }
  p {
    margin-top:1em;
  }

  button {
    background:none;
    border:0;

    &:hover {
      background:none;
      border:0;
    }
  }
  &.success {
    border-color:$beta-three;

    label {
      color:$beta-three
    }
  }
}

:local(.alert_success) {
  border-top:5px solid $beta-three;
  background:#fff;
  z-index: 300;
  font-size: .875em;
  top:10%;
  padding:1em;
  box-shadow: -1px 2px 15px -4px rgba(0,0,0,0.42);
  left: 0;
  position: absolute;
  width: auto;
  min-width: 48%;


  > div {
    @include flex;
  }

  @media(max-width:768px) {
    box-shadow: -1px 2px 90px -2px rgba(0,0,0,0.42);
  }
  label {
    font-weight:bold;
    color:$beta-three;

  }
  p {
    margin-top:1em;
  }

  button {
    background:none;
    border:0;

    &:hover {
      background:none;
      border:0;
    }
  }

}
