.video-question--graded {
	border-bottom: 1px solid $gray;
	padding-bottom: 1em;
	margin-bottom: 1em;
	
	.time-stamp,
	.title {
		padding-left: 0;
		padding-right: 0;
		background: transparent;
	}
	.answers {
		list-style: none;
		padding-left: 0;
		p {
			margin-bottom: 0;
		}
		li {
			margin-bottom: 1.5em;
			position: relative;
			color: $dark-gray;
			&:last-child {
				margin-bottom: 0;
			}
			.pe-proto.progress-bar .bar {
				background-color: $red;
			}
			.answer-entered {
				
			}
			&.correct,
			&.correct.answer-entered {
				.pe-proto.progress-bar .bar {
					background-color: $green;
				}
				&:before {
					font-family: "pearson-fa";
					content: "\f00c";
					font-size: 14px;
				    left: -1.7em;
					position: absolute;
					top: 10px;
					color: $green;
				}
			}
			&.empty {
				.pe-proto.progress-bar .bar {
					background-color: pe-color(hairline-gray);
					min-width: 25px;
				}
			}
		}
	}
	&.video-question--graded-student {
		.answers li {
			margin-bottom: .5em;
			&.answer-entered {
				color: $red;
			}
			&.correct,
			&.correct.answer-entered {
				color: $green;
			}
		}
	}
}