/*imports*/
$pe-icons-path: '~pearson-elements/assets/fonts/';
@import '../../node_modules/pearson-elements/scss/elements';

// Loads generic helper classes
@import 'scss/pattern-lab';
@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/helpers';
@import 'scss/flex';

// Start project files
@import 'scss/colors';
@import 'scss/video-quiz';
@import "scss/dropdown-options";
@import 'scss/question';
@import 'scss/quiz-score';
@import 'scss/circle';
@import 'scss/alert';
@import 'scss/modal';
@import 'scss/_question-list-answer';
@import 'scss/_lists';
@import 'scss/_question-list-item';
@import 'scss/_questions-radio';

/*
** Styles Configuration of Class Roster Navigation
**START
*/
@import 'scss/circle';
@import 'scss/grade-drawer';
@import 'scss/grade-drawer-header';
@import 'scss/points-circle';
@import 'scss/point-worth';
@import 'scss/utilities';
@import 'scss/tabs';
@import 'scss/question';
@import 'scss/question-graded';
@import 'scss/question-list-answer';
@import 'scss/vq-progress-bar';
/*END
** Styles Configuration of Class Roster Navigation
*/

body{
  overflow-x: hidden;
}

div#title-component-container{
  border:1px solid $border;
}

div#overall-score-container{
  padding: 30px 0;
}

div#assignment-header-container{
  padding-top: 20px;
}

.top-container{
  min-height:70px;
}

.bottom-container{
  display: flex;
  padding-top:.5em;
}

.cus-col{
  min-height: 363px;
  flex:1
}

.left-side-col{
  background-color: #FFF;
}

.right-side-col{

}

.flex-container{
  display: flex;
  background-color: #e6e6e6;
}

.flex-div{
  flex:1
}

.font-color-dark{
  color: #231f20;
}

fieldset{
  border:none;
  margin:0px;
  padding:0px;
}

.cursor-pointer{
  cursor: pointer;
}

.red{
  color: red;
}

.assignment-title{
  font-size: 16px;
  font-weight: normal;
  border:none;
}

/*input[type="radio"] {
  -webkit-appearance: none;
  !* Hides the default checkbox style *!
  height: 1.618em;
  width: 1.618em;
  -webkit-box-sizing: border-box;
  !* Safari/Chrome, other WebKit *!

  -moz-box-sizing: border-box;
  !* Firefox, other Gecko *!

  box-sizing: border-box;
  !* Opera/IE 8+ *!

  border: 0.382em solid #d7d3d2;
  cursor: pointer;
  position: relative;
  -webkit-transition: .15s;
  border-radius: 2em;
  background-color: #d7d3d2;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  !* Hides the default checkbox style *!
  height: 1.618em;
  width: 1.618em;
  cursor: pointer;
  position: relative;
  -webkit-transition: .15s;
  border-radius: 2em;
  background-color: #900;
  margin-right: 1em;
  margin-top: .53em;
}*/


input[type="radio"]{
  -webkit-appearance: radio;
  height:1.111em;
  width:1.111em;
  margin-top: -5px;
}
