/*TODO: imports*/
$pe-icons-path: '~pearson-elements/assets/fonts/';
@import '../../node_modules/pearson-elements/scss/elements';

//// Loads generic helper classes
@import 'scss/pattern-lab';
@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/helpers';
@import 'scss/flex';
/*//
//// Start project files
@import 'scss/colors';
//
@import 'scss/circle';
//
//
@import 'scss/grade-drawer';
//
@import 'scss/grade-drawer-header';
@import 'scss/points-circle';
@import 'scss/point-worth';
@import 'scss/utilities';
@import 'scss/tabs';
@import 'scss/buttons/buttons';
@import 'scss/buttons/mixins';
@import 'scss/buttons/variables';
@import 'scss/variables/variables';
@import 'scss/question';
@import 'scss/question-graded';
@import 'scss/question-list-answer';
@import 'scss/progress-bar';

.pe-proto.tab-content,
.studentGrades{
  background-color: #f2f2f2;
  border-top: 1px solid #b3b3b3
}


.circularProgressBarContainer{
  width: 65px;
  height: 65px;
  margin: 0 auto;
}


.video-question--graded {
  border-bottom: 1px solid #a6a8ab;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.grade-drawer .close {
  position: absolute;
  top: 20px;
  right: 9px;
  font-size: 18px;
  color: #565656;
  text-decoration: none;
}


.grade-drawer-header .circle-chart-container .circle-chart {
  -ms-flex-positive: 1;
  flex-grow: 1;
}



.grade-drawer .pe-proto .tabs ul li a.active {
  border-bottom: #0c5d99 5px solid;
  color: #0c5d99;
}


tr:hover{
  background-color: #107aca;

}

tr td a:hover {
  color: #fff;
}


.student-table--unsubmitted tr td a:hover{
  background-color: #107aca;
}*/

body{
  background-color: #107aca;
}
