.dropdown-container {
  text-align: right;
  padding-top: 0;
  @media(max-width: 640px) {
    padding: 1em;
  }
}

.dropdown {
  box-shadow: -1px 2px 15px -4px rgba(0, 0, 0, 0.42);
  min-width: 200px;
  background: $white;
  margin-top: .5em;
  position: absolute;
  z-index: 100;
  right: 0;
}

.dropdown-list {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &:first-child {
      a {
        padding-top: 20px;
      }
    }

    a {
      @include flex;
      text-decoration: none;
      color: $gray;
      padding: 1em;
      padding-right: 3em;

      &:hover {
        background-color: $dark-blue;
        color: $white;
        cursor: pointer;
      }

      &.disabled {
        color: $disabled;
        &:hover {
          background: none;
          color: $disabled;
          cursor: default;
        }
      }
      &.complete {

        .green {
          flex-basis: 25px;
          color: $beta-three;
        }

        &:hover {
          background-color: $dark-blue;
          color: $white;
          cursor: pointer;

          .green {
            color: $white;
          }
        }
      }
    }
  }
}

.points {
  margin-top: 1em;
}
