.flex, .flex-container {
  display:flex;
  
  &.wrap {
	flex-wrap:wrap;
  }
  
  &.row {
	flex-direction:row;
	
	@media (max-width:640px) {
	  flex-direction: column;
	}
  }
  
  &.align-center {
	align-items: center;
  }
  
  &.justify-center {
	justify-content: center;
  }
  
  &.justify-between {
	justify-content: space-between;;
  }
  
  &.column {
	flex-direction: column;
  }
}

.flex-grow {
  flex-grow:1;
}

.flex-1 {
  flex: 1 0 auto;
}

.flex-2 {
  flex: 2 0 auto;
}