.pe-proto.o-drawer {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .23);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 427px;
  z-index: 995;
  display: flex;
  flex-direction: column;
  &.o-drawer-right {
    right: 0;
  }
}

.pe-proto.o-drawer-background.o-drawer-background--visible {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 994;
  height: 100%;
  width: 100%;
}

.grade-drawer {
  padding: 0;
  position: relative;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: pe-color(off-white);
  .close {
    position: absolute;
    top: 20px;
    right: 9px;
    font-size: 18px;
    color: $dark-gray;
    text-decoration: none;
    transform: none;
    &:hover,
    &:active {
      color: $gray;
    }
  }
  .tab-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .pe-proto.tabs {
    padding: 0 2.5em;
    font-size: 14px;
    margin: 0;
    background-color: pe-color(white);
    ul {
      margin-bottom: 0;
    }
    ul li {
      margin-right: 18px;
      width: 50%;
      text-align: center;
      &:last-child {
        margin-right: 0;
        width: calc(50% - 18px);
      }
      a {
        display: block;
        border-bottom: 5px solid $white;
        &.active {
          border-bottom-color: pe-color(hyperdrive);
        }
      }
    }
  }
  .pe-proto.tab-content,
  .studentGrades {
    font-size: 14px;
    padding-top: 2em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 0em;
    flex-grow: 1;
  }

  .studentGrades {
    padding-top: 1em;
    border-top: 1px solid $light-gray;
    .video-question--graded .answers li:before {
      top: 1px;
    }
  }

  .student-table {
    margin: 0 -2.5em 0;
    max-width: none;
    width: 427px;

    td:nth-child(2),
    th:nth-last-child(2) {
      text-align: right;
    }

    & + hr {
      border: 0;
      border-bottom: 3px solid $light-orange;
      margin-bottom: 1.5em;
    }

    &.student-table--unsubmitted {
      td {
        background-color: $lighter-orange;
      }
      a {
        font-weight: bold;
      }
    }

    td, th, tr {
      border: 0;
      padding: 0;
      a {
        display: block;
        padding: .5em 2.5em;
        color: pe-color(pitch);
        text-decoration: none;
        &:hover,
        &:active,
        &:focus,
        &.active {
          background: $blue;
          color: $white;
        }
      }
      &:hover,
      &:focus,
      &.active {
        background: $blue;
        a {
          color: $white;
        }
      }
    }

  }
}

/* sg-pattern-example is only for Patternlab and can be safely removed later on */
.sg-pattern-example .pe-proto.o-drawer {
  position: absolute;
}

.sg-pattern-example .pe-proto.o-drawer-background.o-drawer-background--visible {
  position: absolute;
}

.loader-container {
  display:flex;
  flex-direction:column;
  align-items: center;
  color: #09a;
}
.loader-container p {
  font-size:18px;
}
