.grade-drawer-header {
	margin-bottom: 0;
	padding: 2.5em;
	background-color: pe-color(white);
	h3 {
		text-align: center;
		font-weight: normal;
		margin-bottom: $unit;
	}
	.circle-chart-container {
		display: flex;
		flex-basis: row;
		.circle-chart {
			flex-grow: 1;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	&.grade-drawer-header--student {
		h3 {
			font-size: 16px;
			a {
				text-decoration: none;
			}
		}
		.pe-btn--link {
			font-size: 18px;
		    text-decoration: none;
		}
	}
}