// Global Helpers
// layout
.container {
  padding:$unit;
}

.flex-container {
  @extend .container;
  display:flex;
}

.pos-relative {
  position:relative;
}
.hide {
  display:none;
}

.full-width {
  width:100%;
}

.full-height {
  height:100%;
}

.overflow-hidden {
  overflow:hidden;
}

// borders
.border {
  border:1px solid $border;
}

.border-top {
  border-top:1px solid $border;
}

.border-bottom {
  border-bottom:1px solid $border;
}

.border-left {
  border-left:1px solid $border;
}

.border-right {
  border-right:1px solid $border;
}

// margin
.no-margin {
  margin:0;
}

.margin-sides {
  padding:0 $unit;
}

.margin-top-bottom {
  padding: $unit 0;
}

.margin {
  margin:15px;
}

.margin-top {
  margin-top: $unit;
}

.margin-bottom {
  margin-bottom: $unit;
}

.margin-left {
  margin-left: $unit;
}

.margin-right {
  margin-right: $unit;
}


// padding {
.no-padding {
  padding:0;
}

.no-padding-top {
  padding-top:0;
}

.padding-sides {
  padding:0 $unit;
}

.padding-top-bottom {
  padding: $unit 0;
}

.padding {
  padding:15px;
}

.padding-top {
  padding-top: $unit;
}

.padding-top-double {
  padding-top: $unit * 2;
}
.padding-bottom {
  padding-bottom: $unit;
}

.padding-left {
  padding-left: $unit;
}

.padding-right {
  padding-right: $unit;
}

.padding-double {
  padding: 2em;
}
.padding-sides-double {
  padding: 0 2em;
}

.padding-20 {
  padding:20px;
}
// icon buttons
.in-btn-left {
  margin-left:5px;
  display:inline-block;
}


// colors
.white {
  color:$white;
}

.black {
  color:$black;
}

// text
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align:right;
}

.bold {
  font-weight:bold;
}
// Rubric Helpers
.line {
  width:100%;
  position:relative;
  padding-top:15px;
  margin-bottom:15px;
  border-bottom:1px solid $light-gray;
}

// shapes

.circle {
  @include flex-center;
  @include create-box(35px);
  border-radius:50%;
  color:$dark-green;
  font-weight:bold;
  margin:0 10px;
}

.rectangle {
  @include flex-center;
  height:3px;
}

.oval {
  @include flex-center;
  border-radius:50px;
  min-width:75px;
}

.margin-bottom-thin {
  margin-bottom: .5em;
}