@mixin flex($align-items: center, $justify-content: space-between, $flex-direction: row) {
  display: flex;
  align-items: #{$align-items};
  justify-content: #{$justify-content};
  flex-direction: #{$flex-direction};
}

:local(.overlay) {
  position: fixed;
  width:100%;
  height:100%;
  left: 0;
  top: 0;
  background-color:rgba(0,0,0,0.4);
  z-index: 2;
  @include flex($justify-content:center);

  :local(.modal) {
    @include flex($flex-direction:column);
    position:relative;
    top:-25%;

    :local(.btn_container) {
      padding:0 1em;
      text-align: right;
      margin-bottom: 1em;
    }
  }
}

:local(.modal_content) {
  margin-top:0;
  width:100%;
  box-shadow: -1px 2px 15px -4px rgba(0,0,0,0.42);
  z-index:3;
  background:#fff;

}

:local(.modal_title) {
  @include flex;
  background-color: #F5F5F5;
  padding:10px 15px;
  border-bottom:1px solid grey;
  button {
    background:none;
    border:none;
    font-size: 1.5em;
  }

}
