.circle-chart {
	position: relative;
	text-align: center;
	.circle-chart--number {
		position: absolute;
	    top: 19px;
	    font-size: 22px;
	    width: 100%;
	    text-align: center;
	}
	.circle-chart--label {
		font-size: 14px;
	}
	&.circle-chart--score {
		.circle-chart--label {
			font-size: 18px;
			margin-bottom: 5px;
		}
		.circle-chart--number {
			font-size: 16px;
			top: 50px;
		}
	}
}