.video-question {
  flex: 1 0 auto;
  height:100%;
  //padding-bottom:2em;
  @include flex($align-items: flex-start, $flex-direction: column);

  label {
    font-size: 14px;
  }

  .title {
    background-color: $beta-one;
    padding: 1em;
    padding-left: 2em;
    width: 100.2%;
  }
  .time-stamp {
    padding: 0 2em;
    margin-top: 1em;
    span {
      display: flex;
      color: $beta-two;
      padding-bottom: 0.5em;
    }
  }
  .btn-container {
    text-align: right;
    padding: 20px;
    align-self: flex-end;
  }
}
