.pe-proto {
  &.tabs {
	border-bottom:1px solid $light-gray;
	margin:0 32px;
	
	ul {
	  margin:0;
	  padding:0;
	  list-style-type: none;
	  margin-bottom:10px;
	  display: flex;
      align-items: center;
	  justify-content: flex-start;
	  
	  li {
		margin-right:48px;
		a {
		  text-decoration: none;
		  color:#000;
		  padding-bottom:5px;
		  
		  &.active {
			border-bottom:5px solid $blue;
			color: $blue;
		  }
		  &:hover {
			color:$blue;
		  }
		  &.disabled {
			color: $gray;
		  }
		}
	  }
	}
  }
  &.tab-container {
	border: 1px solid $light-gray;
	.tabs {
	  background-color:$gray;
	  margin:0;
	  padding: 0 32px;
	  padding-top: 10px;
	}
	.tab-container-content {
	  margin:1em;
	  margin-top:2em;
	}
  }
	&.tab-content {
		display: none;
		&.active {
			display: block;
		}
	}
}
