.pe-proto.vq-progress-bar {
	position: relative;
	height: 10px;
	.bar-container,
	.bar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
    display: flex;
	}
	.bar {
		background-color: $dark-gray;
	    position: relative;
	    display: inline-block;
	    top: -4px;
	}
	.label {
		font-size: 12px;
		position: relative;
		top: -7px;
		color: pe-color(pitch);
    padding:0px 5px;
	}
  .label-no-padding {
    padding:0px !important;
  }
}

